doctype html
html
  head
    title myFilesApp TP8 DWEB
    link(rel='stylesheet', href='/stylesheets/w3.css')
    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/javascripts/myFiles.js')
  body
    block content
