tr             
        th Ficheiro
        th Descrição
        th Data
        th Tempo
each file in tabela
    tr 
        td
            a(href=file.path)= file.name
        td= file.desc
        td= file.date
        td= file.time