extends layout

block corpo
    .w3-container
        .w3-card-4
            header.w3-container.w3-light-blue
                h1= obra.titulo
        .w3-container
                table.w3-table.w3-all
                    tr 
                        th Tipo
                        td 
                            =obra.tipo
                    tr  
                        th Compositor
                        td 
                            =obra.compositor
                    tr
                        th Instrumentos
                        td
                            ul
                                each inst in obra.instrumentos
                                    li
                                        =inst.nome
    footer.w3-container.w3-light-grey
        h4 
              a(href='http://localhost:5555') Voltar ao Índice
        address Gerado por ObrasApp
        

